<?xml version="1.0" encoding="utf-8" ?>
<config>
  <nodeTypes>
    <Node>
      <type>Nand</type>
    </Node>
    <Node>
      <type>Or</type>
    </Node>
    <Node>
      <type>Xor</type>
    </Node>
    <Node>
      <type>And</type>
    </Node>
    <Node>
      <type>Nor</type>
    </Node>
    <Node>
      <type>Not</type>
    </Node>
    <Node>
      <type>Input_High</type>
    </Node>
    <Node>
      <type>Input_Low</type>
    </Node>
    <Node>
      <type>Probe</type>
    </Node>
  </nodeTypes>
</config>
